#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Xubuntu_installer
Comment=
Categories=Application;
Exec=./src/install.sh
Icon=
Terminal=true
StartupNotify=false
